body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: 'Big Shoulders Display', cursive;
}

:root{
    --orange:#E38826;;
    --light-blue:#006970;;
    --green:#004241;;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    max-width: 900px;   
    border-radius: 10px;
    overflow: hidden;
}

.card1, .card2, .card3{
    color: #fff;
    flex: 1 1 300px;
    height: 80vh;
}

.card1 {
    background-color: var(--orange);
}

.card2 {
    background-color: var(--light-blue);
}

.card3 {
    background-color: var(--green);
}

/* IMG'S */
.cards img{
    padding-top: 50px;
    padding-left: 40px;
}

/* TEXT */

.cards h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-left: 40px;
}

.cards p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    line-height: 1.8rem;
    padding-left: 40px;
    padding-right: 40px;
    opacity: .8;
}

/* LEARN MORE */
.button {
    display: block;
    text-align: left;
    margin-left: 40px;
    margin-top: 40px;
    padding: 20px 0;
}

.button a{
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 30px;
    background: #fff;
}

.card1 .button a{
    color: var(--orange);
}

.card1 .button a:hover{
    border: 2px solid #fff;
    color: #fff;
    background-color: var(--orange);
    transition: .5s;
}

.card2 .button a{
    color: var(--light-blue);
}

.card2 .button a:hover{
    border: 2px solid #fff;
    color: #fff;
    background-color: var(--light-blue);
    transition: .5s;
}

.card3 .button a{
    color: var(--green);
}

.card3 .button a:hover{
    border: 2px solid #fff;
    color: #fff;
    background-color: var(--green);
    transition: .5s;
}

/* FOOTER */
.attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: .5;
}
.attribution a{
    text-decoration: none;

    color: #000;
}

/* RESPONSIVE */

@media screen and (max-width: 900px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr;

    }

    .card1, .card2, .card3{
        /* width: 300px; */
        height: 80vh;
        width: 90vw;
        margin: 0 auto;
        border-radius: 10px 10px 0 0 ;
    }
    .card2{

        border-radius: 0 ;
    }
    .card3{

        border-radius: 0 0 10px 10px ;
    }

    .attribution{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    
    
  }
