body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: 'Big Shoulders Display', cursive;
  /* font-family: 'Lexend Deca', sans-serif; */
}

:root{
    --orange:#E38826;;
    --light-blue:#006970;;
    --green:#004241;;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 60px auto;
    max-width: 900px;   
    border-radius: 10px;
    overflow: hidden;
}

.card1, .card2, .card3{
    color: #fff;
    flex: 0 1 300px;
    height: 80vh;
}

.card1 {
    background-color: var(--orange);
}

.card2 {
    background-color: var(--light-blue);
}

.card3 {
    background-color: var(--green);
}

/* IMG'S */
.cards img{
    padding-top: 50px;
    padding-left: 40px;
}

/* TEXT */

.cards h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-left: 40px;
}

.cards p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    line-height: 1.8rem;
    padding-left: 40px;
    padding-right: 40px;
    opacity: .8;
}

/* LEARN MORE */
.bottom {
    display: block;
    text-align: left;
    margin-left: 40px;
    margin-top: 40px;
    padding: 20px 0;
}

.bottom a{
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 30px;
    background: #fff;
}

.card1 .bottom a{
    color: var(--orange);
}

.card1 .bottom a:hover{
    border: 2px solid #fff;
    color: #fff;
    background-color: var(--orange);
}

.card2 .bottom a{
    color: var(--light-blue);
}

.card2 .bottom a:hover{
    border: 2px solid #fff;
    color: #fff;
    background-color: var(--light-blue);
}

.card3 .bottom a{
    color: var(--green);
}

.card3 .bottom a:hover{
    border: 2px solid #fff;
    color: #fff;
    background-color: var(--green);
}



@media screen and (max-width: 900px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        border-radius: 20px;
        overflow: hidden;
    }

    .card1, .card2, .card3{
        /* width: 300px; */
        height: 100vh;
        width: 90vmin;
        margin: 0 auto;
    }
    
  }
